<% if current_user.manager || current_user.support %>
  <div class="col-md-6 col-md-offset-3">
  	<div class="prospect-show">
  
      <h2>Listing <%= User.count %> Users</h2>
      <p><em>Please note: Only managers & support can see this page.</em></p>
  
    	<div class="prospect-show table-responsive">
        <table class="table table-sm index-table table-condensed">
          <thead>
            <tr>
              <th class="th-left">Name</th>
              <th>Prospects</th>
              <th>Last Logged In</th>
              <th>Manager</th>
              <th>Support</th> 
            </tr>
          </thead>
                  
          <tbody>
            <% @users = User.all %>
              <% @users.each do |user| %>
              	<td class="td-left"><strong><%= link_to user.advisor_first_name + ' ' + user.advisor_last_name, user %></strong></td>
              	<td><%= user.prospects.size %></td>
              	</td>
              	<td><%= time_ago_in_words(user.current_sign_in_at) %> ago</td>
              	<td><% if user.manager == true %><span class="glyphicon glyphicon-ok"></span><% end %></td>
              	<td><% if user.support == true %><span class="glyphicon glyphicon-ok"></span><% end %></td>
      		    </tr>
        		<% end %>
          </tbody>
          
        </table>
      </div>
      <hr>
      
      <h2>Future Features</h2>
      <p>I put this CRM together as quick as I could, with a focus on what the advisors need to be able to start tracking their deals and for us to be able to access, and add, notes, etc.</p>
      <p>Over the next month or two, I intend to add the following features, between other more urgent tasks:
      <ul>
        <li>Edit Users</li>
        <li>Email password reset</li>
        <li>Search by
          <ul>
            <li>Organization</li>
            <li>Advisor</li>
            <li>Deal status</li>
            <li>Time Period</li>
          </ul>
        <li>Sortable Columns</li>
        <li>Pagination (limit results per page with tabs to the next 10 or 20 etc)</li>
        <li>Management Reports</li>
        <li>Forecasts</li>
        <li>Dashboard</li>
        <li>Other - by request</li>
      </ul>
  
    </div>
  </div>
<% end %>