<div class="container pages">

  <div class="row">
    <div class="col-md-8 col-md-offset-1">

      <p>&nbsp;</p>

      <h3>Virtual Card Payments Q &amp; A</h3>
    
      <p>&nbsp;</p>
    
      <p><strong>What's the difference between using a Rewards Credit Card and Virtual Card Payments?</strong></p>
    
      <p>Virtual Card Payments are made through the organization’s existing accounting software and remittance is sent to the supplier with the payment.&nbsp; If they have 500 suppliers being paid through Virtual Cards, they are all paid at the same time, with no manual effort.&nbsp; Virtual Cards use single-use MasterCard numbers so suppliers cannot run them again, and cannot be ran for more than the amount that is being paid.</p>
    
      <p>Credit cards require providing the card numbers manually, reconciling credit card statements, and having to cancel cards and get a new number every time fraudulent activity occurs, which could be often if paying 500 suppliers with the same card.</p>
    
      <p>Virtual Card Payments save the Accounts Payable departments both time and money, are more secure than Check, ACH, or Credit Card payments, and provide a rebate.</p>
    
      <p>Credit Cards are best for one-time purchases where a physical card is needed and not suitable for Accounts Payable.&nbsp;</p>
    
      <p>&nbsp;</p>
    
      <p><strong>What is a P Card?</strong></p>
    
      <p>A "P Card", or "Purchase Card", is typically issued to employees to be used for expenses such as employee travel expenses or office supplies, not for making supplier payments. Some "P Cards" do pay rebates or cash back but their used for on the spot, immediate payments, not for making supplier payments from invoices.<br></p>
    
      <p><br></p>
      
    </div>
  </div>

</div>
