<div class="container pages">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>Scheduled Leads</h3>
      
      <p><b>Nothing produces more leads, faster, and at a lower cost, than cold calling.&nbsp; Time to get to work!</b></p>
      
      <p>IntelaTek offers a premium marketing service, at 45% less than comparable options.&nbsp; A price that would not be possible if not for the exclusive relationship with Blue Coast.</p>
      
      <p>You may recall IntelaTek, Inc. as the company that scheduled face-to-face, preset appointments, for Workers Comp premium recovery, and charged on a per-meeting set and held basis.&nbsp; For over a dozen years IntelaTek fulfilled its promises, and you will be happy to learn that IntelaTek is again offering its services, but now, working exclusively with Blue Coast consultants.&nbsp; This exclusive arrangement will allow Blue Coast consultants to access marketing services, tailor made for Blue Coast, and at a rate of about 45% less than other providers.<br></p>
      
      <p>This is a premium service offered at a budget rate, from a company owned by Blue Coast’s own Director of Sales &amp; Marketing, Chris Cunningham.&nbsp; So, you know that all of the callers will be well trained for what you do.</p>
      
      <p>If you’re interested in engaging IntelaTek for marketing Virtual Card Payments, we feel that it’s very important that you have realistic expectations.</p>
      
      <p>In a perfect world, CFOs and Controllers would be sitting at their desks taking calls.&nbsp; This is simply not the case.&nbsp; It can take as many as 80 dials to reach a CFO, at a good-sized company, because they are pummeled with sales calls all day.</p>
      
      <p>90% of calls end in voicemail, and with CFOs that number is even higher.</p>
      
      <p>Leaving a voicemail yields, on average, only a 1% callback rate, and with CFOs it’s less than that.&nbsp; Many organizations, such as Coca Cola and JP Morgan Chase, have shut down their voicemail all together.&nbsp; <a href="https://www.washingtonpost.com/news/on-leadership/wp/2015/06/04/the-end-of-office-voice-mail" target="_blank">Washington Post Story</a></p>
      
      <p>The REALITY is that, if we are reaching out to larger companies, we need to accept the fact that, more often than not, we’re not going to be talking to the top decision-maker.</p>
      
      <p>The data that IntelaTek is using typically contains the CFO or Controller’s name, or other similar title such as Finance Director, VP of Finance, Accounting Manager, Comptroller, etc.&nbsp; This is the person that they ask for; however, when they’re transferred to a voicemail, they redial and ask for another title such as the controller or the Accounts Payable Director.&nbsp; For instance, if they get the CFOs voicemail, then they ask for the Controller, and if they get the Controller’s voicemail, then they ask for the Accounts Payable Director, or whoever is in charge of Accounts Payable.&nbsp; And when they do speak with a CFO, the CFO will often redirect them to Accounts Payable Director, or whatever title the person in charge of Accounts Payable might have.</p>
      
      <p>IntelaTek’s singular objective is to produce the maximum possible results for your marketing dollar.&nbsp; They accomplish this by combining premium data, tested phone scripts, technology, and thoroughly trained and supervised callers.&nbsp; Their callers, whom they refer to as their "Business Development Associates", all work in IntelaTek's North Carolina office.</p>
      
      <p>IntelaTek generates leads, with a scheduled date and time for you to call and share a presentation online.&nbsp; These are set based upon YOUR schedule and put right onto YOUR calendar.</p>
      
      <p>IntelaTek callers make calls on your behalf, to discuss how Virtual Card Payments help businesses to reduce their Accounts Payable operation’s expense and generate revenue each time they pay their suppliers.</p>
      
      <p>Prospects have agreed to receive information, which they send to them, they have agreed to talk to you and they know what you are going to be talking about, and they have agreed to a scheduled time.</p>
      
      <p>They let them know that they will be sending them an email with a 2-minute video that will show them how you help AP departments to save both time and money, and generate additional revenue, each time they pay their suppliers. And they let them know that they will be sending them a Forbes article about how Virtual Payments are eliminating the need for checks. And finally, they schedule a 15-minute follow-up call to share how you help AP departments to save both time and money and generate additional revenue, each time they pay their suppliers, and they let them know that they will sending instructions to join an online screen share. They state that it will be a 15-minute call twice.</p>
      
      <p>The telemarketers job is to generate leads and to take the cold out of your calls, not to make the sale. These prospects will need to be presented to and should NOT be approached as having already expressed any particular level of interest, only a willingness to hear you out. You will need to call them two or three, or even four times, at the scheduled time. And if you do not get a hold of them at the scheduled time, you need to continue to follow up with them the next day, and so on.</p>
      
      <p>They do not refer to these as “Meetings”, or “Appointments”. Instead, they refer to them as "Scheduled Leads" where you will be sharing your screen for a 15-minute presentation.</p>
      
      <p>We want you to have realistic expectations. So, here’s what we find to be typical for a scheduled lead...</p>
      
      <p>You’ll start sharing your screen a few minutes prior to the scheduled time, and then <strong>CALL</strong> the contact at the scheduled time. You cannot wait or expect that they will just show up on the screen share. You will call the direct line or extension, if you do not reach the contact, then hang up, call the main line, if you get a live person, as opposed to an IVR, then tell the receptionist, for instance: “I have a two o’clock call scheduled with Sarah Jones, I called her direct line and got her voicemail, can you tell me if she is in today?”. If still not successful, call the contact’s direct line, every 4 or 5 minutes until you have reach them, or until the end of the scheduled time.</p>
      
      <p>Prospects get the email, right after IntelaTek talks to them, with the video, article, and meeting info. They'll also get an email confirmation from Calendly, a reminder email the day before, and two reminder emails the day of.<br></p>
      
      <p>You should reach MOST of them, at the scheduled time, by placing two or three calls, and they will be sitting at their computer, where you will immediately direct them to view your screen.</p>
      
      <p>If you don’t reach them by the end of the scheduled time, you will try again in a few hours, and then the next day, and so on, until you reach them. They will typically apologize for not being available at the scheduled time.</p>
      
      <p>They make it easy for prospects to cancel or reschedule by clicking on the obvious buttons, in their confirmation and reminder emails.&nbsp; Because, if after they review the email, they decide they are not interested, they don’t want you to have to talk to those.&nbsp; 10% to 20% are going to cancel and around 10% are going to reschedule themselves.</p>
      
      <p>IntelaTek offers a premium marketing service, at 45% less than the comparable options.&nbsp; A price that would not be possible if not for the exclusive relationship with Blue Coast.&nbsp; You pay $39 per hour, for 10 hours per week of calling, so that's $390 per week, billed every 4 weeks.&nbsp; Plus you’ll pay $20 per lead scheduled. There’s no guarantee, as to how many scheduled leads you will receive each week; however, 2 to 4 per week, can be expected.&nbsp; Of course, some weeks you will get fewer than others, and some weeks you will get more than others.</p>
      
      <p align="center"><a href="http://www.intelatek.com/order-lead-gen.php" target="_blank" class="btn btn-kontrol btn-lg">Order Lead Generation from IntelaTek</a></p>
      
      
      <p>&nbsp;</p>
      
      <h4 align="center">Frequently asked questions and answers <u>from</u> IntelaTek, Inc.</h4>
      
      <p><strong>Is there a commitment?</strong><br></p>
      
      <blockquote>
        <p>Yes, there are two commitments. First, you need to be committed to calling every lead until you reach them. So, if you do not reach them at the scheduled time, you keep trying. On average, it takes several dials to reach each lead.</p>
      
        <p>The second commitment is to us, as well as to yourself. You’re committing to at least 8 weeks and will give us two weeks’ notice when stopping or pausing your campaign, so that we can manage our staff levels.</p>
      </blockquote><strong>Can I get face-to-face meetings?</strong>
      
      <blockquote>
        <p>We’re not scheduling face-to-face meetings for Virtual Card Payments, only via screen share.</p>
      
        <p>We will however, be scheduling face to face meetings with CPAs and other professionals for referral partner and sub rep opportunities.</p>
      </blockquote>
      
      <p><strong><strong>Will you reschedule my meetings?</strong><br></strong></p>
      
      <blockquote>
        <p>These are leads, or opportunities, where we have taken the cold out of the call. Your dollars are going to be better spent on us making cold calls and leaving those warm follow up calls to you. In the time spent making those warm follow-ups to reschedule we could have been getting you another lead scheduled. Also, let’s suppose we did reschedule it for you, it is likely that it is going to take a few calls to do the presentation at the next scheduled time. We decided that it’s a poor use of your dollars and that this campaign is intended for those who do not want to make cold calls but are willing to make the warm calls with scheduled leads.</p>
      </blockquote>
      
      <p><strong>&nbsp;<strong>Will you replace my meetings if they cancel or if I cannot get ahold of them?</strong></strong></p>
      
      <blockquote>
        <p>If a meeting cancels by replying back to the initial email or by clicking on the cancellation button, in the confirmation, or in one of the reminder emails, prior to the scheduled time, then you will not be charged the $20 for that lead. Remember, you’re paying primarily for the time spent making the calls, so we just simply keep calling based on the time that you have purchased.</p>
      </blockquote>
      
      <p><strong><strong>Can you call and set with just CFOs for me?</strong><br></strong></p>
      
      <blockquote>
        <p>No.&nbsp; We don’t think it makes sense to limit to CFOs. We estimate the cost per meeting scheduled with a CFO would be over $500, if only setting with CFOs. More importantly, we have found that in the largest companies, the CFO is not going to be involved in the sales process until the end. They almost always refer you to the Accounts Payable Director, or similar role. And in the smaller companies, we are typically setting with the CFO or controller anyway. So likely, you would be getting mostly just the smaller companies, and at far too high of a cost.</p>
      
        <p>We understand that you are going to need the CFO to make the decision, however you need to understand that there are other people who’s job it is to deal with this, so the CFO is not going to get involved until their point person has already vetted it. Now, of course, not every company is the same. You might have been a CFO or a Controller, and might be thinking; that is not how you worked, but CFOs are not clones, so we have to look at the larger picture, or larger numbers.</p>
      </blockquote>
      
      <p><strong><strong>Can you ensure that leads scheduled will have over X million dollars in Accounts Payable spend?</strong><br></strong></p>
      
      <blockquote>
        <p>No.&nbsp; There’s no data provider that provides Accounts Payable spend information and therefore data must be complied based reasonable assumptions, based on Revenue and Employee Count, and revenue data is widely unavailable or incorrect. We have found that when we attempt to verify the Accounts Payable spend, they almost always get upset about being asked that question on a cold call, so we no longer ask.</p>
      </blockquote>
      
      <p><strong><strong>Should I ask what there Accounts Payable spend is before presenting?</strong><br></strong></p>
      
      <blockquote>
        <p>No.&nbsp; Don’t ask what their Accounts Payable spend is before presenting. We recommend that you make your objective to simply get them to view your screen and allow you to present. If, you did ask, and found that the Accounts Payable was far too low, you might save yourself from having to spend 15 minutes on a presentation, which would have been good practice anyway. On the other hand, let’s say you ask the question, and maybe they have $500 million in AP, but they are turned off by the question, since you have not presented and shown any benefits yet. And now, either they do not let you present, or they are less open as they listen and view your presentation. We believe that asking about their Accounts Payable spend, or about anything else, for that matter, prior to the presentation, would be self-sabotage. You can ask after the presentation, or you will get the numbers when they send their supplier data. As they say, there will be time enough for counting, when the dealing is done.</p>
      </blockquote>
      
      <p><strong><strong>Will you give the same lead to more than one person?</strong><br></strong></p>
      
      <blockquote>
        <p>No, once we schedule a lead, we will not call them again.</p>
      </blockquote>
      
      <p><strong><strong>Should I ask what the caller has already discussed with them?</strong><br></strong></p>
      
      <blockquote>
        <p>Absolutely not. First, you would essentially be asking them to give you the presentation. Second, you would be telling them that you do not know what the staff says to prospects. Third, there is a very good chance that they are not going to remember exactly what was said and will be frustrated with the question.</p>
      </blockquote>
      
      <p><strong><strong>Should I ask if I have caught them at a good time?</strong><br></strong></p>
      
      <blockquote>
        <p>No, No and No. Of course, it’s not a good time. Whether they’re in the middle of something, or nothing at all, it is never a good time for what would be perceived as a sales</p>
      </blockquote>
      
      <p align="center"><strong><a href="http://www.intelatek.com/order-lead-gen.php" target="_blank" class="btn btn-kontrol btn-lg">Order Lead Generation from IntelaTek</a></strong></p>

    </div>
  </div>
</div>