<div class="container pages">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>Scheduled Leads for AP Virtual Card Payments</h3>
      <p>&nbsp;</p>
      <p>Nothing produces more leads, faster, and at a lower cost, than cold calling.&nbsp; It's time to get to work!<br></p>
      
      <p>You may recall IntelaTek, Inc. as the company that scheduled face-to-face, preset appointments for Workers Comp premium recovery, and charged on a per-meeting set and held basis.&nbsp; For over ten years IntelaTek fulfilled its promises and now IntelaTek is again offering its services, working exclusively with Blue Coast consultants.&nbsp; This arrangement allows Blue Coast consultants to access marketing services, tailor made for Blue Coast, at a rate of approximately 45% less than other providers. <a href="http://www.intelatek.com/about.php" target="_&quot;New&quot;">About IntelaTek &amp; References</a></p>
      
      <p><strong>What is a Scheduled Lead?&nbsp;&nbsp;</strong>IntelaTek calls Financial Executives &amp; Directors, such as, but not limited to CFOs, Controllers, AP Directors, etc., at businesses with 100+ employees &amp; $100million+ Revenue (per data providers) to discuss how Virtual Card Payments may: save their organization money by reducing time spent by their accounts payable department, and generate revenue when they pay their suppliers. The purpose of these calls is to schedule a one on one presentation, between you and prospect, to be conducted via screen-share. These are referred to as scheduled leads and are set based on your schedule, put directly on your calendar.&nbsp; Prospects receive an email right directly after IntelaTek speaks with them, which includes the 2-minute video and Forbes article, as well as your name, your screen share link and the date and time of the presentation.&nbsp; Prospects also receive an email confirmation from Calendly, a reminder email the day before, and another reminder emails the day of. <a href="lead-generation-faq">FAQs</a></p>
      
      <p><strong>What to expect:&nbsp;&nbsp;</strong>There’s no guarantee as to how many scheduled leads you will receive each week, however, 2 to 4 leads scheduled each week can be expected. Of course, some weeks you will get fewer than others, and some weeks you will get more than others.&nbsp;&nbsp;Consultant agrees that the goal of the campaign should be to simply maximize the number of leads generated.</p>
      
      <p>We have found that in the largest companies, the CFO is not going to be involved in the sales process until the end and they almost always refer us to the Accounts Payable Director or similar role; so therefore, you should expect many leads to be scheduled with accounts payable titles.</p>
      
      <p><em>NOTE</em>:&nbsp;&nbsp;There are no data providers that can provide Accounts Payable spend information and therefore data must be complied based reasonable assumptions like Revenue and Employee Count. We’ve found that when we attempt to verify the Accounts Payable spend, prospects almost always get upset about being asked that question on a cold call, so we no longer ask.</p>
      
      <p><strong>The Cost:&nbsp;&nbsp;</strong>You pay only $390 per week (for 10 hours of calling per week), plus $20 per lead generated.&nbsp; A minimum 8 week commitment is required and a 2 week notice required in the event you decide to cancel.&nbsp;<em>(just let your campaign manager know when you need to pause for vacations, etc.)</em></p>
      
      <p>IntelaTek will automatically charge consultant, every 4th Monday for a 4-week cycle to begin the following Monday.&nbsp; For any campaign where the initial charge was on other than a Monday, subsequent charges shall be adjusted to occur on Mondays.&nbsp; If IntelaTek is unable to fulfill 100% of the previous 4-week's order (due to holidays, etc.), the subsequent 4-week's charge shall be reduced for any hours not completed.</p>
      
      <p>Each Monday, consultant shall be charged an additional fee of $20 per lead scheduled the previous week, less any leads that cancelled the previous week.</p>
      
      <p><strong>Here's where you come in:&nbsp;&nbsp;</strong>You’ll start sharing your screen a few minutes prior to the scheduled time, and then CALL the contact at the scheduled time. You cannot wait or expect that they will just show up on the screen share. These are scheduled LEADS and you agree to call them until you reach them.&nbsp; IntelaTek takes the COLD out of your calling, but it’s ultimately up to you to follow up and reach or reschedule your own opportunities.<br></p>
      
      <p>Consultants are responsible for rescheduling their own leads, unless the prospect cancels by replying to the initial email or by clicking on the Calendly event cancellation button in the notification or reminder emails. In such event, Consultant shall forward the email cancellation that they received to <u>cancellations@intelatek.com</u>, by the next business day. ONLY meetings where the prospect cancels by replying to the initial email or cancels through Calendly, prior to the scheduled time, shall be considered a cancellation.</p>
      
      <p>Why doesn't IntelaTek reschedule?&nbsp; If it takes 10 calls to reach and reschedule, IntelaTek may have been able to make 20 cold calls during that same time. IntelaTek's purpose is to take the cold out of your calls. Consultants agree that IntelaTek should focus on the cold calls and leave the follow ups and reschedules of warm calls to do themselves. <a href="lead-generation-faq">FAQs</a><strong>&nbsp;</strong></p>
      
      <p><strong>Questions</strong>: &nbsp;Contact Christy Holland at IntelaTek, Inc.&nbsp; |&nbsp;&nbsp;800.212.2806 X 500 | <a href="mailto:christy@intelatek.com">christy@intelatek.com</a></p>
        
        <p><strong>Order:</strong></p>
        
        <div id="mc1j4y4c30rghe">
          <a href="https://app.moonclerk.com/pay/1j4y4c30rghe">VCP Lead Gen (4-weeks)</a>
        </div>
        <script type="text/javascript">
          var mc1j4y4c30rghe;(function(d,t) {var s=d.createElement(t),opts={"checkoutToken":"1j4y4c30rghe","width":"100%"};s.src='https://d2l7e0y6ygya2s.cloudfront.net/assets/embed.js';s.onload=s.onreadystatechange = function() {var rs=this.readyState;if(rs) if(rs!='complete') if(rs!='loaded') return;try {mc1j4y4c30rghe=new MoonclerkEmbed(opts);mc1j4y4c30rghe.display();} catch(e){}};var scr=d.getElementsByTagName(t)[0];scr.parentNode.insertBefore(s,scr);})(document,'script'); 
        </script>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1 center">
      <p>&nbsp;</p>
      <a href="http://www.intelatek.com/about.php", class="btn btn-info btn-lg">About IntelaTek & References</a>
        &nbsp; &nbsp; &nbsp; &nbsp; <a href="lead-generation-faq", class="btn btn-info btn-lg">IntelaTek Lead Gen FAQs</a></p>
    </div>
  </div>

</div>