/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Muli:300,400);
@import "bootstrap-sprockets";
@import "bootstrap";

/* General styles */


body {
  padding-top: 90px;
  padding-bottom: 60px;
    background: url("http://www.intelatek.com/images/8732.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	text-transform: capitalize;
}

.btn-custom {
	background-color: #fff;
	color: #0a8fd5;
	font-family: 'Muli', sans-serif; 
	font-weight: 300;
	border-radius: 8px;
	padding: 10px 20px;
	&:hover {
		color: #383838;
		transition: 0.5s;
		background-color: #fff;
		text-decoration: none;
	}
}

.btn:hover {
	transition: 0.5s;
	color: #383838;
	background-color: #fff;
}


/* Navbar styles */

.navbar {
	font-family: 'Muli', sans-serif;
}

.navbar-default {
	.navbar-nav > li > a {
		color: gray;
	}
	.navbar-link {
		color: gray;
	}
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 1px;
  width: auto;
}


/* Links styles */

.links {
	margin-top: 20px;
	.btn-default {
		color: #0a8fd5;
	}
}


/* Prospect styles */

.prospect {
	box-sizing: border-box;
	background-color: #383838;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	height: 150px;
	border-bottom: 4px solid #0a8fd5;

	.prospect-title {
		font-size: 1.5em;
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		margin-top: 0;
		color: white;
		margin-bottom: 25px;
	}

	.btn-custom {
		margin-top: 20px;
	}

}

.prospect:nth-child(4n) {
	clear: left;
}

/* Prospect show-page styles */

.prospect-show {
	box-sizing: border-box;
	background-color: #383838;
	padding: 2.0em 1.5em;
	/* border-bottom: 4px solid #0a8fd5; */
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 300;

	h2 {
		margin-top: 0;
	}

	.prospect-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.prospect-posted-by {
		color: #eee;
		font-size: 0.9em;
	}

	.reply-to-prospect {
		margin-top: 50px;
	}

}


/* Comment styles */

.comment {
	border-bottom: 1px solid #fff;
	padding-top: 15px;
	padding-bottom: 15px;

	.comment-content {
		font-size: 1.25em;
	}	

	.comment-posted-by {
		color: #eee;
		font-size: 0.8em;
	}

	.links {
		margin-top: 15px;
		a {
			color: #5bc0de;
			//color: #0a8fd5;
			margin-right: 15px;
		}
	}
}

.index-table {
	td, th {
    text-align:center; 
    vertical-align:middle;
	}
	.td-left, .th-left {
    text-align:left; 
    vertical-align:middle;
	}
	a:link {
    color: #5bc0de;
	}
	a:visited {
	    color: #5bc0de;
	}
	a:hover {
	    color: #5bc0de;
	}
	a:active {
	    color: #5bc0de;
	}
}

tfoot {
	color:white;
	font-weight: bold;
}

.bordered {
	td {
    border: 1px solid;
	}
}


.status {
	list-style-type: none;
	a:link {
  	text-decoration: none;
    color: #5bc0de;
	}
	a:visited {
		text-decoration: none;
  	color: #5bc0de;
	}
	a:hover {
	  text-decoration: none;
    color: #5bc0de;
	}
	a:active {
	  text-decoration: underline;
    color: #5bc0de;
	}
}

.center {
  text-align: center;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }