<!-- Application Designed by IntelaTek Inc.
On behalf of Blue Coast Savings Consultants
in partnership with Kontrol Payables
January 28th 2018
Author Chris Cunningham -->

<!DOCTYPE html>
<html>

	<%= render 'layouts/head' %>
  
  <body>

		<%= render 'layouts/nav' %>

    <div class="container-fluid">

      <%= render 'layouts/messages' %>       

    	<%= yield %>
    </div>
 


	  <%#= render 'layouts/footer' %>
	  
  </body>
  
</html>