<!-- Author Chris Cunningham January 28th 2018 -->

<!DOCTYPE html>
<html>

	<%= render 'layouts/head' %>
  
  <body>

		<%= render 'layouts/nav' %>

    <div class="container-fluid">

      <%= render 'layouts/messages' %>       

    	<%= yield %>
    </div>
 
	  <%#= render 'layouts/footer' %>
	  
  </body>
  
</html>